body {
  display: block;
  font-family: 'Century Gothic';
  text-align: center;
  background: url("https://images.unsplash.com/photo-1421749810611-438cc492b581?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6cf5c5e54ebe49a76b78b7e17ca3dd47");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  font-size: 35px;
}
p {
  color: white;
  font-size: 20px
}
img {
  float: center;
  border-radius: 50%;
}
a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}
a:hover {
  margin: 1px;
  color: blue;
  text-decoration: underline;
}

