body {
  display: block;
  font-family: 'Century Gothic';
  text-align: center;
  background: url("https://i.ytimg.com/vi/9J7ILjl9NkA/maxresdefault.jpg") center center no-repeat;
  color: white;
  font-size: 35px;
}
p {
  color: white;
  font-size: 20px
}
img {
  float: center;
}
a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}
a:hover {
  margin: 1px;
  color: blue;
  text-decoration: underline;
}

