body {
  text-align: center;
  font-family: 'Century Gothic';
  background: url("http://img.freecodesource.com/twitter-backgrounds/images/bg/L295379497.jpg")
}
p {
  font-size: 14px;
  color: blue;
}
button {
  text-transform: uppercase;
  background: green;
  padding: 15px 70px;
  transition: all 2s ease;
}
