body {
  text-align: center;
  background: url("http://nuclearpixel.com/content/blog/2010-05-14_nuclear_pixel_5_space_background_wallpapers/nuclearpixel_dot_com_-_space_bg_wallpaper_1920x1200.jpg");
  margin: 15px 30px;
  position: absolute;
  top: 28%;
  left: 35%;
}
