#colors {
  width: 1500px;
  height: 650px;
  background: red;
  -webkit-animation: colors 1s infinite;
  animation: colors 5s infinite;
}
@keyframes colors {
  from {background-color: red;}
  to {background-color: blue;}
}
