button {
  padding: 20px 80px;
  transition: all 1s ease;
  text-transform: uppercase;
  background: coral;
  color: white;
  border: none;
  outline: none;
}
button:hover {
  padding: 20.5px 80.5px;
  background: skyblue;
}
button:active {
  padding: 19.5px 79.5px;
  background:red; 
  transition: all 0.2s ease;
}
body {
  font-family: 'Century Gothic';
  background : url("https://images3.alphacoders.com/108/108297.jpg");
  text-align: center;
}
p {
  text-align: right;
  font-size: 18px;
}
first {
  position: absolute;
  top: 20%;
  left: 45%;
}
