body {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: colors;
}

#red {
  background: red;
  border-radius: 1000px;
  padding: 10px 70px;
  border: 2px solid black;
  outline: none;
  position: absolute;
  left: 40%;
}

#yellow {
  background: yellow;
  border-radius: 1000px;
  padding: 10px 70px;
  border: 2px solid black;
  outline: none;
  position: absolute;
  top: 35%;
  left: 40%;
}

#green {
  background: green;
  border-radius: 1000px;
  padding: 10px 70px;
  border: 2px solid black;
  outline: none;
  position: absolute;
  top: 71%;
  left: 40%;
}

@keyframes colors {
  33.33% {
    background: red;
  }
  66.66% {
    background: yellow;
  }
  99.99% {
    background: green;
  }
}
